[Desktop Entry]
Name=GPI
Comment="Graphical Programming Interface"
Exec=exec_placeholdplaceholdplaceholdplaceholdplacehold
Terminal=true
Type=Application
Icon=icon_placeholdplaceholdplaceholdplaceholdplacehold
